@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
   --texte-color: #1e293b;
   --segundaria-text-color: #475569;
   --font-principal: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-image: linear-gradient(180deg, #fff159 0%, #f7f7f7 300px);
    background-color: #f7f7f7;
    min-height: 100vh;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.main {
    font-family: var(--font-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 1rem;
}

.img {
    width: 8rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
}

.titulo h1 {
 color: var(--texte-color);
 font-weight: 700;
}

    .titulo p {
        color: var(--segundaria-text-color);
        line-height: 1.25rem;
        margin-top: 2px;
        margin-bottom: 0;
        max-width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .link {
        padding-top: 2rem;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .link span {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .link a {
        color: var(--texte-color);
    }
    
    .link-click h3 {
        margin-bottom: 4px;
    }
    
    .link-click p {
        margin-top: 4px;
        margin-bottom: 1rem;
    }

    

    .link-click {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 0.2rem 3rem;
        position: relative;
    }

    .link-whatsapp {
        background-color: #25D366;
        border-radius: 20px;
        padding: 1rem 3rem;
        position: relative;
        text-align: center;
    }

    .link-whatsapp a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
    }

    .link-whatsapp .fa-brands {
        color: #ffffff;
        margin-right: 8px;
    }

    